chezmoi:template:missing-key=invalid

[internal.super_slicer]
    include = {{ default false .super_slicer.include }}
    pb_local_address = {{ (default "" .super_slicer.pb_local_address) | quote }}
    pb_address = {{ (default "" .super_slicer.pb_address) | quote }}
    v2_local_address = {{ (default "" .super_slicer.v2_local_address) | quote }}
    v2_address = {{ (default "" .super_slicer.v2_address) | quote }}
    client_cert_location = {{ (default "" .super_slicer.client_cert_location) | quote }}
    client_cert_password = {{ (default "" .super_slicer.client_cert_password) | quote }}
